*{
    margin:5px;
    padding:10px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.produto img{
    width: 15%;
    height: 15%; 
    border: 2px solid #333; 
    border-radius: 10px; 
}

.logo img{
    width: 15%;
    height: 15%; 
    border: 2px solid #333; 
    border-radius: 10px; 
    align-items: center;
}